<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>PurpleEverGlow</title>
    
</head>
<body>

<main>
    <section class="glass">
        <div class="dashboard">
            <div class="logo">
                <a href="<%= "/" %>"><img src="/images/logo.png"></a>
                <h1><a href="<%= "/" %>">PURPLE</a></h1>
                <h1><a href="<%= "/" %>">EVERGLOW</a></h1>
            </div>
            <div class="links">
                <div class="admin-link">
                    <a href="<%= "/" %>"><img src="/images/home.png"></a>
                    <h2> <a href="<%= "/" %>">Acasa</a></h2>
                </div>
                <div class="admin-link">
                    <a href="<%= "/about" %>"><img src="/images/about.png"></a>
                    <h2><a href="<%= "/about" %>">Despre</a></h2>
                </div>
                <div class="admin-link">
                    <a href="<%= "/posts" %>"><img src="/images/posts.png"></a>
                    <h2><a href="<%= "/posts" %>">Postari</a></h2>
                </div>
                <div class="admin-link">
                    <a href="<%= "/contact" %>"><img src="/images/contact.png"></a>
                    <h2><a href="<%= "/contact" %>">Contact</a></h2>
                </div>
            </div>
        </div>
        