<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>PurpleEverGlow</title>
</head>

<body>
    <main>
        <section class="glass">
            <div class="dashboard">
                <div class="logo">
                    <a href="<%= "/" %>"><img src="/images/logo.png"></a>
                    <h1><a href="<%= "/" %>">PURPLE</a></h1>
                    <h1><a href="<%= "/" %>">EVERGLOW</a></h1>
                </div>
                <div class="admin-link">
                    <a href="<%= "/compose" %>"><img src="/images/compose.png"></a>
                    <h2> <a href="<%= "/compose" %>">Postare noua</a></h2>
                </div>
                <div class="admin-link">
                    <a href="<%= "/modify" %>"><img src="/images/posts.png"></a>
                    <h2> <a href="<%= "/modify" %>">Toate postarile</a></h2>
                </div>
            </div>

            <div class="articles">
                <% posts.forEach(function(post){ %>
                    <% const image = post.img; %>
                <div class="article-card">
                    <img src="data:image/<%=image.contentType%>;base64,
                                 <%=image.data.toString('base64')%>">
                    <div class="card-info">
                        <h2> <%= post.title %> </h2>
                        <p> 
                            <%=post.content.substring(0, 400) + " ..." %>
                            <a href="/post/<%=post._id%>">Citeste mai mult</a>
                        </p>
                        <div class="author-card">
                            <% let monthNames = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"]; %> 
                            <% let month = monthNames[post.postedAt.getMonth()]; %>
                            <p>Postat la <a href="#"><%= post.postedAt.getDate() + ' ' + month + ' ' + post.postedAt.getFullYear()  %> </a> de <a class="author" href="#"><%= post.author %></a></p> 
                        </div>
                    </div>
                </div>  
                <% }); %>      
            </div>
        </section>
    </main>
</body>
</html>