<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>PurpleEverGlow</title>
</head>

<body>
    <main>
        <section class="glass">
            
            <!--dashboard-->
            <div class="dashboard">
                <div class="logo">
                    <a href="<%= "/" %>"><img src="/images/logo.png"></a>
                    <h1><a href="<%= "/" %>">PURPLE</a></h1>
                    <h1><a href="<%= "/" %>">EVERGLOW</a></h1>
                </div>
                <div class="admin-link">
                    <a href="<%= "/compose" %>"><img src="/images/compose.png"></a>
                    <h2> <a href="<%= "/compose" %>">Postare noua</a></h2>
                </div>
                <div class="admin-link">
                    <a href="<%= "/admin" %>"><img src="/images/back.png"></a>
                    <h2> <a href="<%= "/admin" %>">Inapoi</a></h2>
                </div>
            </div>

            <div class="edit-section">
                <!--preview of the post-->
                <div class="form-edit">
                    <div class="articles">                  
                        <div class="article-card">
                            <div class="card-info-single">
                                <h2> <%= title %> </h2>
                                <p><%= content %></p>                                                     
                            </div>
                        </div>     
                    </div>
                </div>

                <!--Form section-->
                <form class="form-edit" action="/edit" method="POST" enctype="multipart/form-data">
                    <h1>Editeaza postarea</h1>
                    <label>Titlu</label>
                    <div class="edit-seg"><input type="text" name="editTitle" required></div>
                    <label>Articol</label>
                    <div class="edit-seg"><textarea name="editBody" rows="7"></textarea></div>  
                    <div class="edit-seg">
                        <button class="button-upload" onclick="document.getElementById('image').click()">Incarca poza</button>
                        <input type="file" id="image" name="image" value="" required style="display:none;">                            
                        <button type="submit" name="button">Posteaza</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>